<script type="text/html" id="url_template">
  <p>${url.short_url}</p>
</script>

<div class="header">
  <div class="menu-container">
    <div class="container">
      <a href="/" class="logo">Drip</a>
    </div>
  </div>

  <div class="splash">
    <div class="container">
      <!--<h1>Welcome Back!</h1>-->

      <div class="signin-container">
        <div class="heading">
          <h2>Rails Code Test</h2>
        </div>

        <%= form_for(Url.new) do |f| %>
          <dl class="form full">
             <dt><label for="url">WebSite URL</label></dt>
             <dd><%= f.text_field :url, placeholder: "http://", html: {type: "url"}%>
             </dd>
          </dl>
        <% end %>
        <div id="urls" class="call-to-signup">
        </div>
      </div>

    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <div class="drop"></div>
  </div>
</div>


