<div class="header">
  <div class="menu-container">
    <div class="container">
      <a href="/" class="logo">Drip</a>

      <ul class="menu desktop">
        <li><a href="/" class="">Home</a></li>
        <li><a href="/tour" class="">How It Works</a></li>
        <li><a href="/features" class="">Features</a></li>
        <li><a href="/pricing" class="">Pricing</a></li>
        <li class="separator"></li>

        <li><a href="/signin" class="current">Sign In</a></li>
      </ul>

      <ul class="menu mobile">
        <li>
        <a href="#" data-toggle="dropdown">
          <span class="octicon octicon-three-bars"></span>
        </a>

        <ul class="dropdown-menu right">
          <li><a href="/" class="">Home</a></li>
          <li><a href="/tour" class="">How It Works</a></li>
          <li><a href="/features" class="">Features</a></li>
          <li><a href="/pricing" class="">Pricing</a></li>
          <li><a href="/contact" class="">Contact</a></li>
          <li class="separator"></li>

          <li><a href="/signin" class="current">Sign In</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="splash">
    <div class="container">
      <!--<h1>Welcome Back!</h1>-->

      <div class="signin-container">
        <div class="heading">
          <h2>Rails Code Test</h2>
        </div>

        <form>
        <dl class="form full">
          <dt><label for="url">WebSite URL</label></dt>
          <dd><input id="url" type="url" placeholder="please type a valid URL" />
          </dd>
        </dl>
        </form>

        <div id="urls" class="call-to-signup">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="contents"></div>

<div class="footer">
  <div class="container">
    <ul class="links">
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="http://blog.getdrip.com">Blog</a></li>
      <li><a href="/docs">Docs</a></li>
      <li><a href="https://drip.getambassador.com" target="_blank">Affiliates</a></li>
      <li><a href="/terms">Terms</a></li>
    </ul>
    <div class="drop"></div>
    <div class="copyright">&copy; 2015 <a href="https://www.getdrip.com">Drip, Inc.</a></div>
  </div>
</div>

<div class="flash-tab-container">
</div>

<div data-component="request-demo-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a class="close" data-dismiss="modal">×</a>
        <h3 data-drip-attribute="headline">Request a Demo</h3>

        <p data-drip-attribute="description">
        Let us show you Drip! Fill out the form below and we&rsquo;ll contact you for a time to chat.
        </p>

        <form action="https://www.getdrip.com/forms/7464270/submissions" method="post" target="_blank" data-drip-embedded-form="7464270">
          <dl class="form full">
            <dt><label>First Name <span class="required">*</span></label></dt>
            <dd>
            <input type="text" name="fields[first_name]" placeholder="Drippy" value="" />
            </dd>

            <dt><label>Last Name</label></dt>
            <dd>
            <input type="text" name="fields[last_name]" placeholder="McDrippy" value="" />
            </dd>

            <dt><label>Email <span class="required">*</span></label></dt>
            <dd>
            <input type="text" name="fields[email]" placeholder="me@mycompany.com" value="" />
            </dd>

            <dt><label>Phone</label></dt>
            <dd>
            <input type="text" name="fields[phone]" placeholder="(999) 999-9999" value="" />
            </dd>

            <dt><label>URL <span class="required">*</span></label></dt>
            <dd>
            <input type="text" name="fields[url]" placeholder="www.mycompany.com" value="" />
            </dd>

            <dt><label>How many subscribers do you have? <span class="required">*</span></label></dt>
            <dd>
            <select name="fields[subscriber_count]">
              <option value="0 - 2,499">0 - 2,499</option>
              <option value="2,500 - 10,000">2,500 - 10,000</option>
              <option value="10,001 - 30,000">10,001 - 30,000</option>
              <option value="30,000+">30,000+</option>
            </select>
            </dd>
          </dl>

          <div class="form-controls">
            <input type="submit" name="submit" value="Request a Demo" class="button slate" data-drip-attribute="sign-up-button" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

